a:hover{
    color: #FFBE00;
    text-decoration:none;
}
.selva{
    width: 1150px;
    padding: 40px;
    position: relative;
    display:flex;
    align-items: center;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
img{
    border-radius: 30%;
}
.selva .animal{
    max-width: 300px;
    height: 250px;
    position: relative;
    margin: 20px 10px;
    padding: 30px 20px;
    background: rgb(235, 224, 205);
    border-radius: 30px;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}
.selva .animal:hover{
    height: 300px;
}
.selva .animal .image{
    position: relative;
    width: 300px;
    height: 300px;
    top: -10px;
    left: 0px;
    border-radius: 30%;
    z-index: 1; 
}
.selva .animal .selva .animal .image img{
    max-width: 100%;
}
.selva .animal .textimage{
    font-family:'Lucida Grande';
    font-size: medium;
    margin-top:-140px;
    text-align: center;
    padding: 20px;
    color: black;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.selva .animal:hover .textimage{
    visibility: visible;
    transition-delay: 0.3s;
    cursor:pointer;
}
.menu{
    display:flexbox;
    background-color: black;
    padding-left: 350px;
}
.textmenu{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    padding: 10px;
    text-decoration:none;
}
.bg{
    background-image: url("background.jpg");
}
.text-block{
    position: relative;
    overflow: hidden;
}
.text-block:after {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(235, 224, 205);
    transform: translateX(-100%);
    animation: enlargeBlock .5s .6s , revealBlock 0.5s 1.1s both;
}
.animationtext{
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    padding: 2rem 1rem;
    opacity: 0;
    animation: fadeInText 0s 1.1s both;
    text-align: center;
}
@keyframes fadeInText {
    from { opacity: 0;}
    to {
        opacity: 1;
    }
}
@keyframes revealBlock{
    from {
        transform: translateX(0);
    }
    to {
        opacity: 1;
    }
}
@keyframes enlargeBlock {
    from {
        width: 0%;
    }
    to{
        width: 100%;
    }
}